<form action="/domains" method="post" accept-charset="utf-8">
	<label>域名列表：</label><br>
	<textarea name="domains" rows="12" cols="120"><%= @domains %></textarea><br><br>

	<p><input type="submit" value="更新到Mikrotik"></p>
</form>