<ol class="breadcrumb">
  <li><a href="/">首页</a></li>
  <li class="active">批量添加GFWed IP</li>
</ol>


<form action="/addresses" method="post" accept-charset="utf-8">
	<label>IP列表（每行一个）：</label><br>
	<textarea name="addresses" rows="12" cols="120"></textarea><br><br>
	
	<label>注释：</label><br>
	<input type="text" name="comment" value="" id="comment"><br><br>

	<p><input type="submit" value="提交"></p>
</form>