<ol class="breadcrumb">
  <li><a href="/">首页</a></li>
  <li class="active">添加GFWed IP</li>
</ol>

<form action="/address" method="post" accept-charset="utf-8">
	<label>IP地址：</label><br>
	<input type="text" name="address" value="" id="address"><br><br>
	
	<label>注释：</label><br>
	<input type="text" name="comment" value="" id="comment"><br><br>

	<p><input type="submit" value="提交"></p>
</form>